.edit_ghim{
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-top: 32px;
  justify-content: center;
}

.grid-item{
  width: 290px;
}

.grid-container{
  width: 100%;
  grid-template-columns: repeat(auto-fill, 290px);
}

.modal-content{
  width: 100%;
  border-radius: 32px;
  overflow: auto;
}

.text-large {
  font-weight: 700;
  font-size: 36px;
}

.modal-backdrop{
  width: 100vw;
  height: 100vh;
  z-index: inherit;
}

.modal-header {
  border: none;
}

.edit_body{
  min-height: 360px;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
}

.content-save {
  opacity: 1; 
}

.edit_content-right{
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100% !important;
}

.picture_edit {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.edit_body img {
  width: 100%;
  border-radius: 8px;
  height: 100%;
  max-width: 100%;
}

.ft_edit{
  padding: 32px;
  justify-content: space-between;
}