@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.header {
  width: 100%;
  z-index: 800;
}

.header-background {
  width: 100%;
  width: calc(12 / 12 * 100%);
  background-color: #fff;
}

.header-width {
  height: 80px;
  width: 100%;
  align-items: center;
  display: flex;
}

.header-flex {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-top: 4px;
  display: flex;
  flex-direction: row;
}

.header-height {
  display: flex;
  flex-direction: row;
}

.logo {
  box-sizing: border-box;
}

.link-logo {
  border: 0;
  border-radius: 999px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  transition: transform 85ms ease-out;
  padding: 0;
  background: transparent;
  color: inherit;
  outline: none;
}

.link-logo:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.container-logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.img-logo {
  width: 24px;
  height: 24px;
  display: block;
  color: #c00;
  fill: currentColor;
  stroke-width: 0;
}

.btn-pinterest {
  height: 48px;
  min-width: 60px;
  border-radius: 24px;
  flex: 0 0 auto;
  display: flex;
}

.link-button {
  border-radius: 24px;
  display: block;
  width: calc(12 / 12 * 100%);
  text-decoration: none;
  cursor: pointer;
  transition: transform 85ms ease-out;
  color: inherit;
  outline: none;
}

.style-btn {
  white-space: nowrap;
  height: 48px;
  min-width: 60px;
  border-radius: 24px;
  flex: 0 0 auto;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

.button-black {
  background-color: #111;
}

.center-btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}

.title-btn {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.dropdown-toggle::after {
  display: none;
}

.border-24 {
  border-radius: 24px;
}

.container-dropdown {
  height: 48px;
  min-width: 60px;
  flex: 0 0 auto;
  border-radius: 24px;
}

.text-black {
  color: #111;
}

.span-dropdown {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

.dropdown-menu.show {
  transform: translate(-45px, 55px) !important;
}

.dropdown-menu {
  border-radius: 16px;
  border: none;
  padding: 10px;
  box-shadow: 0 0 8px rgb(0 0 0 / 10%);
  cursor: default;
  overflow: auto;
  background-color: #fff;
  color: #fff;
}
.dropdown-item {
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
}
.dropdown-item:hover,
.icon-circle:hover {
  background-color: #e9e9e9;
}

.dropdown-item.active {
  color: #111;
  background-color: #e9e9e9;
}

.search-box {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  padding-left: 8px;
  padding-right: 8px;
}

.search-border {
  height: 48px;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: row;
}

.search-flex {
  padding: 0 0 0 16px;
  height: 100%;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.search-icon {
  margin-right: 8px;
  flex: 0 0 auto;
}

.icon-search {
  display: block;
  color: #767676;
  fill: currentColor;
  stroke-width: 0;
}

.flex-1 {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
}

.input-search {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 16px;
  font-weight: normal;
  height: 100%;
  outline: none;
  padding: 0;
  width: 100%;
  padding-right: 15px;
}

.border-50 {
  border-radius: 50%;
}

.icon-circle {
  cursor: pointer;
}

/* 
.icon-circle {
  transition: transform 85ms ease-out;
  cursor: pointer;
}

.icon-gray {
  fill: #767676;
}

.hero-main{
  padding: 80px;
}

.main-container{
  padding-bottom: 24px;
}

.card-img {
  top: 0;
  left: 0;
  transform: translate(0px) translateY(0px);
  width: 252px;
  height: 491px;
}

.card-padding{
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.image-wrapper{
  border-radius: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.border-16 {
  border-radius: 16px;
}

.link-image {
  border-radius: 8px;
  display: block;
  text-decoration: none;
  cursor: zoom-in;
  transition: transform 85ms ease-out;
  color: inherit;
  outline: none;
}

.container-image{
  border-radius: 0;
  position: relative;
  overflow: hidden;
}

.image-height{
  min-height: 55px;
}

.min-height{
  min-height: 120px;
  align-items: center;
  flex-direction: row;
  display: flex;
  margin: 0;
}

.image-flex{
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
}

.background-color{
  background-color: rgb(121, 103, 109);
  padding-bottom: 177.542%;
}

.img-content{
  color: transparent;
  position: absolute;
  display: block;
  width: 100%;
  border: 0;
  height: auto;
  max-width: 100%;
}

.events-profile {
  pointer-events: auto;
  width: 100%;
}

.padding-profile{
  padding: 8px 6px 16px;
}

.profile-margin{
  margin-left: -3px;
  margin-right: -3px;
}

.profile-flex {
  flex: 0 0 auto;
}

.margin-3 {
  margin-left: 3px;
  margin-right: 3px;
}

.container-profile {
  height: 32px;
  width: 32px;
} */

.gridCentered {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1764px) and (max-width: 2015px) {
  .gridCentered {
    width: 1764px;
  }
}

@media (min-width: 0px) and (max-width: 755px) {
  .gridCentered {
    width: 504px;
  }
}

@media (min-width: 756px) and (max-width: 1007px) {
  .gridCentered {
    width: 756px;
  }
}

@media (min-width: 1008px) and (max-width: 1259px) {
  .gridCentered {
    width: 1008px;
  }
}

@media (min-width: 1260px) and (max-width: 1511px) {
  .gridCentered {
    width: 1260px;
  }
}

@media (min-width: 1512px) and (max-width: 1763px) {
  .gridCentered {
    width: 1512px;
  }
}

@media (min-width: 1764px) and (max-width: 2015px) {
  .gridCentered {
    width: 1764px;
  }
}

@media (min-width: 2016px) and (max-width: 2267px) {
  .gridCentered {
    width: 2016px;
  }
}

@media (min-width: 2268px) and (max-width: 2519px) {
  .gridCentered {
    width: 2268px;
  }
}

@media (min-width: 2520px) and (max-width: 2771px) {
  .gridCentered {
    width: 2520px;
  }
}

@media (min-width: 2772px) and (max-width: 3023px) {
  .gridCentered {
    width: 2772px;
  }
}

@media (min-width: 3024px) and (max-width: 3275px) {
  .gridCentered {
    width: 3024px;
  }
}

@media (min-width: 3276px) and (max-width: 3527px) {
  .gridCentered {
    width: 3276px;
  }
}

@media (min-width: 3528px) and (max-width: 3779px) {
  .gridCentered {
    width: 3528px;
  }
}

@media (min-width: 3780px) and (max-width: 4031px) {
  .gridCentered {
    width: 3780px;
  }
}

@media (min-width: 4032px) and (max-width: 4283px) {
  .gridCentered {
    width: 4032px;
  }
}

@media (min-width: 4284px) and (max-width: 4535px) {
  .gridCentered {
    width: 4284px;
  }
}

@media (min-width: 4536px) and (max-width: 4787px) {
  .gridCentered {
    width: 4536px;
  }
}

@media (min-width: 4788px) and (max-width: 5039px) {
  .gridCentered {
    width: 4788px;
  }
}

@media (min-width: 5040px) and (max-width: 5291px) {
  .gridCentered {
    width: 5040px;
  }
}

@media (min-width: 5292px) and (max-width: 5543px) {
  .gridCentered {
    width: 5292px;
  }
}

@media (min-width: 5544px) and (max-width: 5795px) {
  .gridCentered {
    width: 5544px;
  }
}

@media (min-width: 5796px) and (max-width: 6047px) {
  .gridCentered {
    width: 5796px;
  }
}

.padding-header {
  padding-top: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 236px);
  gap: 20px;
  justify-content: center;
  grid-template-rows: masonry;
  margin: 0 auto;
}

.grid-item {
  width: 236px;
  margin-bottom: 40px;
}

.profile-upload {
  z-index: 1;
}

.img-item {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.img-item:hover {
  cursor: zoom-in;
}

.title-img {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #111;
  margin-bottom: 4px;
}

.box-img {
  transition: all 0.1s ease-in;
}

.box-img:hover::after {
  opacity: 0.4;
  cursor: zoom-in;
}

.box-img:hover .content-save {
  opacity: 1;
}

.box-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  opacity: 0;
  background-color: #111;
}

.profile-upload {
  padding: 8px 6px 16px;
}

.information {
  display: flex;
  margin: 0;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  flex-direction: row;
  align-items: center;
}

.information img {
  margin-left: 3px;
  margin-right: 3px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.name-profile {
  font-weight: 400;
  font-size: 14px;
  color: #111;
}

.text-limit {
  -webkit-line-clamp: 1;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.content-save {
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 15px;
  opacity: 0;
  cursor: zoom-in;
  transition: all 0.1s ease-in;
}

.button-bottom {
  padding-bottom: 15px;
  width: calc(100% - 30px);
}

.group__icon-btn {
  display: flex;
  flex-direction: row;
}

.btn-red {
  background-color: #e60023;
  border: 0;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  padding: 12px 16px;
  color: #fff;
  border-radius: 30px;
}

.btn-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-link {
  border: 0;
  display: flex;
  border-radius: 18px;
  padding: 12px;
  height: 32px;
  max-width: 132px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
}

.btn-link svg {
  width: 10%;
  height: 100%;
}

.btn-link span{
  width: 7em;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.drop-more {
  width: 360px;
}

.drop-share {
  min-height: 40px;
  min-width: 180px;
  max-height: 90vh;
  max-width: 90vw;
  outline: none;
  box-shadow: 0 0 8px rgb(0 0 0 / 10%);
  border-radius: 16px;
  box-sizing: border-box;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  align-items: center;
}

.title-share {
  color: #111;
  font-weight: 400;
  font-size: 14px;
}

.drop-focus:hover {
  box-shadow: 0 0 0 4px rgb(0 132 255 / 50%);
  outline: 0;
}

.drop-more.show {
  transform: translate(-150px, 55px) !important;
}

.drop-share {
  width: 540px;
}

.title-drop-share {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.title-drop-share h3 {
  font-size: 16px;
  font-weight: 600;
  color: #111;
}

.flex-medical {
  min-height: 98px;
  flex-direction: row;
  display: flex;
  margin: 0;
}

.medical-item {
  width: 86px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.medical-icon {
  border-radius: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.text-medical {
  text-align: center;
  word-wrap: break-word;
}

.text-medical h3 {
  font-weight: 400;
  font-size: 12px;
  color: #111;
  max-width: 128px;
  max-height: 50px;
}

.medical-button {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #efefef;
}

.devices {
  padding: 4px 12px;
}

.solid {
  border-style: solid;
  border-top: 1px solid #cdcdcd;
  margin: 0;
  border-bottom: 0;
  border-left: 0;
  opacity: 1;
}

.option-account {
  height: 24px;
  width: 24px;
}

.icon-gray {
  fill: #767676;
}

.modal-backdrop {
  width: 0;
  height: 0;
}

.modal.show {
  padding-right: 0 !important;
  overflow-y: auto;
}

@media (min-width: 576px) {
  .modal-width {
    margin-right: 20px;
  }
}

.modal-width {
  margin-top: 70px;
}

.modal-width {
  max-width: 360px;
  min-height: 40px;
  min-height: 180px;
  max-height: 90vh;
  border-radius: 16px;
  display: flex;
  overflow: auto;
  box-shadow: 0 0 8px rgb(0 0 0 / 10%);
  background-color: #fff;
}

.modal-content {
  border: none;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  align-items: center;
  margin: 8px;
  flex-direction: column;
  display: flex;
}

.modal-area {
  width: 100%;
}

.modal-area:not(:first-child) {
  margin-top: 16px;
}

.padding-label {
  padding: 8px;
  display: flex;
  flex-direction: row;
}

.label-modal {
  text-align: left;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 12px;
  color: #111;
}

.modal-list_item {
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

.modal-item {
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.hover-bg {
  background-color: #e9e9e9;
}

.modal-item:hover {
  background-color: #e9e9e9;
}

.row-item {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.item-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  min-height: 0;
  min-width: 0;
  margin-bottom: -2px;
  margin-top: -2px;
  margin-left: 0;
  margin-right: 0;
}

.icon-profile {
  width: 60px;
  height: 60px;
}

.info-profile {
  max-width: 176px;
  box-sizing: border-box;
  color: #111;
  margin-left: 16px;
}

.info-name-top {
  text-align: left;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-width: 100%;
  overflow: hidden;
  word-break: break-word;
  font-weight: 600;
  font-size: 16px;
  color: #111;
}

.info-name {
  text-align: left;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-width: 100%;
  overflow: hidden;
  word-break: break-word;
  font-weight: 500;
  font-size: 16px;
  color: #111;
}

.info-form {
  margin-top: 2px;
}

.label-name {
  text-align: left;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-width: 100%;
  overflow: hidden;
  word-break: break-word;
  font-weight: 400;
  font-size: 14px;
  color: #767676;
}

.close-module {
  cursor: zoom-out;
  display: flex;
  width: 100%;
}

.close-width {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}

.width-detail_image {
  max-width: 1016px;
}

.wrapper-close {
  width: 100%;
  height: 100%;
  max-width: 1016px;
  border-radius: 32px;
  position: relative;
}

.box-shadow {
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 20px 0px;
  border-radius: 32px;
  position: relative;
  background-color: #fff;
  margin-top: 16px;
}

.border-image img {
  border-radius: 32px 0px 0px 32px;
  width: 508px;
}

.author-img {
  width: 508px;
}

.wrapper-author {
  height: 100%;
  padding-right: 32px;
  padding-left: 32px;
  flex-direction: column;
  display: flex;
}

.responsive {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1054px) {
  .responsive {
    display: flex;
    flex-direction: column;
  }
  .border-image img {
    border-radius: 32px;
  }
}

.close-top {
  position: sticky;
  top: 64px;
  z-index: 2;
}

.close-mid {
  height: calc(100% - 80px);
  flex-direction: column;
  display: flex;
}

.border-top_close {
  padding-top: 32px;
  min-height: 92px;
  border-radius: 0px 32px 32px 0px;
  box-sizing: border-box;
  margin-top: 0;
  background-color: #fff;
}

.group-left {
  max-width: 508px;
  border-radius: 8px;
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.btn-icon_pin {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  background-color: #fff;
}

.btn-icon_pin:hover {
  background-color: #efefef;
}

.min-mid_close {
  min-height: 48px;
  margin-top: 16px;
}

.upload {
  text-align: left;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 21px;
  color: #111;
  cursor: auto;
}

.name-author {
  text-align: left;
  word-wrap: break-word;
}

.link-author {
  text-align: left;
  word-wrap: break-word;
  font-weight: 600;
  font-size: 21px;
  color: #111;
  cursor: pointer;
  text-decoration: none;
}

.link-author:hover {
  color: #111;
  text-decoration: underline;
}

.close-title {
  color: #444;
  font-weight: 700;
  margin-top: 16px;
}

.close-title h1 {
  word-wrap: break-word;
  font-weight: 500;
  font-size: 36px;
  color: #111;
}

.avatar-author {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-author img {
  width: 100%;
  height: 100%;
}

.btn-gray {
  background-color: #efefef;
  color: #111;
}
.btn-gray:hover {
  background-color: #e2e2e2;
}

.description {
  max-width: 444px;
}

.description span {
  font-weight: 400;
  font-size: 14px;
  color: #111;
}

.form-cmt {
  padding-bottom: 16px;
  padding-top: 16px;
}

.icon-user {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #e2e2e2;
}

.input-cmt {
  border-radius: 26px;
  width: calc(100% - 48px);
  height: 48px;
  margin-left: 8px;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 16px;
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  border-color: #cdcdcd;
  align-items: center;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

.input-cmt textarea {
  background: transparent;
  border: 0px;
  display: block;
  font-size: 16px;
  outline: 0px;
  overflow-x: hidden;
  resize: none;
  white-space: pre-wrap;
  width: 100%;
}

.avt-profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.avt-profile img {
  width: 100%;
  height: 100%;
}

.text-name {
  font-size: 36px;
  font-weight: 500;
  color: #111;
}

.gg-account {
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word;
  color: #767676;
}

.fl-count {
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

.img-1 {
  border-radius: 16px;
  transform: translateX(0%);
  z-index: 0;
  height: 157px;
  width: 100%;
}

.img-2 {
  border-radius: 16px;
  position: absolute;
  transform: translateX(25%);
  z-index: -1;
  height: 157px;
  width: 100%;
}

.img-3 {
  border-radius: 16px;
  position: absolute;
  transform: translateX(50%);
  z-index: -2;
  height: 157px;
  width: 100%;
}

.img-4 {
  position: absolute;
  border-radius: 16px;
  transform: translateX(75%);
  z-index: -3;
  height: 157px;
  width: 100%;
}

.img-5 {
  position: absolute;
  border-radius: 16px;
  transform: translateX(100%);
  z-index: -4;
  height: 157px;
  width: 100%;
}

.border-img {
  border: 1px solid white;
  border-radius: 16px;
  overflow: hidden;
}

.border-right-top {
  border: 1px solid white;
  border-top-right-radius: 16px;
  overflow: hidden;
}
.border-right-bottom {
  border: 1px solid white;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  border-color: white;
  border-style: solid;
  border-width: 0px 1px 1px;
}

.border-top-bottom {
  border: 1px solid white;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  overflow: hidden;
}

.img-background {
  background-color: rgb(239, 239, 239);
  position: relative;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.hidden-img {
  transform: translateX(0%);
}

.width-66 {
  width: calc(8 / 12 * 100%);
}

.width-33 {
  width: calc(4 / 12 * 100%);
}

@media (min-width: 768px) {
  .content-tb {
    flex-direction: row !important;
  }
}

.listitem {
  border-radius: 8px;
  align-self: flex-start;
  margin-bottom: 8px;
}

.listitems .active::after {
  content: '';
  background-color: #111;
  border-radius: 5px;
  bottom: 0;
  height: 3px;
  width: 100%;
  position: absolute;
}

.public-profile .form-control {
  border-color: #a5a5a5;
  padding: 8px 16px;
  appearance: none;
  border-radius: 16px;
  border-style: solid;
  border-width: 2px;
  min-height: 48px;
}

.form-label {
  margin-bottom: 0.2rem;
  font-size: 14px;
  font-weight: 400;
  color: #111;
}

.btn-file::-webkit-file-upload-button{
  visibility: hidden;
}

.width-img_profile{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
}

.width-img_profile img{
  width: 100%;
  height: 100%;
}

.form-check-input{
  width: 1.5em;
  height: 1.5em;
}

.form-check-input:checked {
  border-color: #111;
  background-color: #111;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgb(17 17 17 / 35%);
}

.hero-left {
  flex: 1 1 auto;
}
.hero-right {
  flex: 0 0 auto;
}

.wrapper-card:not(:last-child) {
  margin-bottom: 34px;
}

.form-switch .form-check-input{
  width: 2.5em;
}